@mixin random-bgr(){
    background: rgb(random(255), random(255), random(255));
  }

.playBox {
    height: 350px;
    display: inline-block;
    border: solid 1px gray;
    position: relative;
    overflow: hidden;
}
.playItem {
    width: 100%;
    height: 300px;
    border-radius: 50%;
}
.playBox .Ga{
    background-image: url(/baucuatomca/img/Ga.svg);
}
.playBox .Bau{
    background-image: url(/baucuatomca/img/Bau.svg);
}
.playBox .Nai{
    background-image: url(/baucuatomca/img/Nai.svg);
}
.playBox .Tom{
    background-image: url(/baucuatomca/img/Tom.svg);
}
.playBox .Cua{
    background-image: url(/baucuatomca/img/Cua.svg);
}
.playBox .Ca{
    background-image: url(/baucuatomca/img/Ca.svg);
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
.boxControl {
    margin-left: -15px;
    margin-right: -15px;
}

    .boxControl button {
        width: 50px;
        height: 50px;
        border: none;
        background: #ecf0f1;
        position: absolute;
        bottom: 1px;
    }
    .boxControl button:nth-of-type(2){
        right: 0px;
    }

        .boxControl button i {
            color: #f1c40f;
        }

    .boxControl input {
        border: none;
        height: 50px;
        width: 100%;
        padding: 0px 50px;
        line-height: 50px;
        text-align:center;
    }
.playBox .userSelect {
    position: absolute;
    border-radius: 50%;
    @include random-bgr();
    text-align: center;
    min-width: 50px;
    min-height: 50px;
    max-width: 150px;
    max-height: 150px;
    @for $i from 0 to 10 {
        &:nth-child(#{$i}) {
            left: random(150)+px;
            top: random(80)+px;
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 2s;
        }
      }

}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}