.playBox {
    width: 300px;
    height: 400px;
    display: inline-block;
}
.playItem {
    width: 100%;
    height: 300px;
    background-image: url(/img/bg.png);
    border-radius: 50%;
}
.boxControl {
    width: 100%;
    text-align: center;
}

    .boxControl button {
        border: none;
        background: white;
    }

        .boxControl button i {
            color: yellow;
        }

    .boxControl input {
        border: none;
        text-align:center;
    }